<!DOCTYPE html>
<html>
   <head>
           <title>Form Check</title>
           <meta charset="utf-8">
           <meta name="viewport" content="width=device-width, initial-scale=1">
           <meta http-equiv="X-UA-Compatible" content="IE=edge">
           <meta name="description" content="Video Uploader to Check Exercise ">
           <meta name="keywords" content="global, template, html, sass, jquery">
           <meta name="author" content="HTN Team">
           <link rel="stylesheet" href="assets/css/main.css">
          
           <!-- Favicon -->
           <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
           <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
          
       </head>
  <body>
      <div>
          Exercise: {{ select_value }}
          Frames: {{ count }}
          <!-- <video src="{{url_for('static', filename='text.mp4')}}"  width="320" height="240" controls/> -->
          {% for frame in range((count / 25)|int) %}
            <img src="{{url_for('static', filename= video + 'frame%d.jpg' % frame)}}" alt="frames" width="200px" height="auto"/>
          {% endfor %}
      </div>
    
  </body>
</html>
